* {
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  background-color: black;
  font-family: "Consolas", monospace;
}

h1 {
  padding: 10px;
  font-size: 5rem;
}

#gameBoard {
  border: 8px solid white;
}

#scoreText {
  margin-top: 10px;
  font-size: 4.5rem;
}

#restartButton {
  cursor: pointer;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 2.5rem;
  transition: 0.3s ease;
  border: 3px solid black;
}

#restartButton:hover {
  border: 3px solid hsl(0, 0%, 100%);
}
