* {
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  background-color: black;
  font-family: Consolas, monospace;
}

body {
  gap: 18px;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  padding: 0 20px;
  font-size: 6rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.6),
    0 0 12px rgba(255, 255, 255, 0.5), 0 0 18px rgba(255, 255, 255, 0.4),
    0 0 24px rgba(255, 255, 255, 0.3);
}

#gameBoard {
  cursor: pointer;
  border: 8px solid white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4),
    0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.2),
    0 0 40px rgba(255, 255, 255, 0.1);
}

#scoreText {
  padding: 0 20px;
  font-size: 6rem;
  margin-top: 1rem;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.6),
    0 0 10px rgba(255, 255, 255, 0.5), 0 0 14px rgba(255, 255, 255, 0.4),
    0 0 18px rgba(255, 255, 255, 0.3);
}

#restartBtn {
  border: none;
  cursor: pointer;
  font-size: 3.5rem;
  padding: 10px 20px;
  transition: 0.3s ease;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.6),
    0 0 10px rgba(255, 255, 255, 0.5), 0 0 14px rgba(255, 255, 255, 0.4),
    0 0 18px rgba(255, 255, 255, 0.3);
}

#restartBtn:hover {
  font-size: 3.75rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 4.5rem;
  }

  #gameBoard {
    width: 90vw;
    height: 90vw;
  }

  #scoreText {
    font-size: 4.5rem;
  }

  #restartBtn {
    font-size: 2rem;
  }

  #restartBtn:hover {
    font-size: 2.25rem;
  }
}
